/* use the fonts from fonts folder */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.ttf');
  font-weight: normal;
  font-style: normal;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* change scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  background: rgb(181, 181, 181);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146);
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-b);
  color: #333;
  background-color: var(--neutral-surface);
}

body {
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
}

:root {
  --font-a: 'Montserrat';
  --font-b: 'Open Sans'; 

  --text-main: #333;

  --border-neutral: #e2e2e2;

  --shadow-m: 0px 16px 64px rgb(0 7 46 / 4%);
  --shadow-l: 0px 16px 64px rgb(0 7 46 / 8%);

  --primary-main: #46BBE9;
  --secondary-main: #f2bcea;

  --neutral-surface: #f6fcf9;
  --neutral-hover: #e2e2e2;

  font-size: 20px; 
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

* {
  font-family: var(--font-b);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-a);
}

.navbar * {
  font-family: var(--font-a);
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 60px;
  box-shadow: var(--shadow-m);
  color: #333;

}

.header-top {
  background-color: rgba(0,0,0,.01);
  height: 80px;
  box-shadow: unset;
}
.header-top * {
  color: #fff !important;
}

.sub-heading {
  font-size: 1.5rem;
  text-align: center;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 100%;
}

.navbar-menu {
  height: 100%;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  /* gap: 1rem; */
}

.navbar-menu li {
  display: inline-block;
  /* padding: 0 10px; */
  height: 100%;
}

.navbar-menu li a {
  text-decoration: none;
  height: 100%;
  color: inherit;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.navbar-menu li a:hover {
  background-color: var(--primary-main);
  color: white;
}

.hero {
  /* background-color: #53c5f2; */
  background: var(--primary-main);
  height: calc(100vh);
}

.hero-container {
  padding: 10% 25%;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero-title {
  z-index: 1;
  color: #eee;
}
.hero-title * {
  text-shadow: 0 .75rem 2rem rgba(0,0,0,.05);
}
.hero-title h1 {
  font-size: 4rem;
  margin: 0;
}
.python-hero {
  position: absolute;
  max-width: 30rem;
  transform: translate(10px, -265px);
}
.tensorflow-hero {
  position: absolute;
  max-width: 30rem;
  transform: translate(-1583px, -323px);
}

.sep {
  margin: 2.5rem 0;
}

.container {
  width: 100%;
  padding: 76px 20%;
}

.container-lg {
  width: 100%;
  padding: 76px 10%;
}


.row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2rem; */
}
.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  padding: 0 .5rem;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding: 0 .5rem;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 .5rem;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  padding: 0 .5rem;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 .5rem;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 .5rem;
}
.flex-gap-m {
  gap: 1rem;
}
.card {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: var(--shadow-m);
  padding: 2rem;
  /* height: 100%; */
}

.card-title > h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.big-text {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.height-100 {
  height: 100%;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}
.text-center-c * {
  text-align: center;
}

.hoverable {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hoverable:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-l);
}

.team-wrap {
  aspect-ratio: 3 / 4;
  overflow: hidden;
}
.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

#gambar {
  min-width: 100%;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.img-container {
  min-width: 100%;
  /* border: 2px solid var(--border-neutral); */
  padding: 1rem;
  border-radius: .75rem;
  box-shadow: var(--shadow-m);
}

.img-container > img {
  border-radius: .5rem;
  width: 100%;
}

#gambar-container {
  min-width: 100%;
  /* border: 2px solid var(--border-neutral); */
  padding: 1rem;
  border-radius: .75rem;
  box-shadow: var(--shadow-m);
}

#gambar-container img {
  border-radius: .5rem;
}

@keyframes scroll-fade-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scroll-fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-fade {
  opacity: 0;
}

.slide-up {
  animation: scroll-fade-up .5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: .25s;
}

.slide-down {
  animation: scroll-fade-down .5s ease-in-out;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}

.lable-desc {
  padding-left: 2rem;
  flex: 1;
}
.page-marker {
  padding-bottom: 2rem;
}

.bg-primary {
  background-color: var(--primary-main);
}

.bg-secondary {
  background-color: var(--secondary-main);
}

.img-container.label {
  aspect-ratio: 16 / 10;
  overflow: hidden;
}

.img-container.label img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#file::-webkit-file-upload-button {
  visibility: hidden;
}

#file {
  /* width: 100%; */
  flex: 1;
  overflow: visible;
  position: relative;
  border-radius: .5rem;
  border: 3px solid var(--text-main);
}


#file::before {
  content: 'Pilih File';
  display: inline-block;
  /* border: 3px solid var(--text-main); */
  border-radius: 0.45rem;
  padding: 0.5rem 2rem;
  outline: 3px solid var(--text-main);
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-a);
  font-weight: 700;
  background: var(--neutral-surface);
  position: relative;
  transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);

}
#file:hover::before {
  background-color: var(--text-main);
  color: white;
}

#uploadButton {
  display: inline-block;
  border: 3px solid var(--text-main);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-a);
  font-weight: 700;
  background: white;
  position: relative;
  transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 1rem;
}

#uploadButton:hover {
  background-color: var(--text-main);
  color: white;
}

.hero-svg > path {
  fill: var(--primary-main);
  translate: 0 -80px;
}

.text-white {
  color: white;
}

.final {
  padding-bottom: 25rem;
}

footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: white;
  box-shadow: var(--shadow-m);
}

.no-decoration {
  text-decoration: none;
  color: var(--text-main);
}

#prediction {
  height: 190px;
  overflow: hidden;
  /* transition: height .5s ease-in-out; */
}
.page-scroll {
  display: none;
}


.inner {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: slideToLeft 10s ease infinite;
  animation: slideToLeft 10s ease infinite;
}

@keyframes slideToLeft {
  0%,
  30% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  33%,
  63% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  66%,
  96% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}

.overflow-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.overflow-desc {
  z-index: 2;
  position: absolute;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  height: 125%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 700;
  font-family: var(--font-a);
  font-size: 3rem;
  text-shadow: 5px 10px 25px rgba(0, 0, 0, 0.45);
  /* transform: translateY(1rem); */
}

/* keframe that moves side to side infinitely */
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
}

.geser {
  animation: move 25s infinite alternate;
}

.overflow-wrapper:hover .overflow-desc {
  opacity: 1;
  /* transform: translateY(0); */
}

.overflow-container {
  display: flex;
  gap: 2rem;
} 

.overflow-label {
  min-width: 400px;
  object-fit: cover;
  aspect-ratio: 16 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .75rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-m);
  background-color: white;
}



#amogus {
  position: absolute;
  height: 80px;
  width: 100px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hasil-title {
  font-size: 1.15rem;
  font-weight: 700;
  font-family: var(--font-a);
  color: var(--text-main);
  margin-bottom: .5rem;
  margin-top: 1rem;
}
